.titlebar {
  width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.titlebar.visible {
  opacity: 1;
  transition: 0.5s;
}

.dragbar {
  position: absolute;
  width: 100%;
  height: 28px;
  /* user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag; */
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px 2px 0 8px;
}

.title {
  display: inline-block;
  height: 100%;
  margin-right: auto;
}

.title-text {
  margin-top: 2px;
  margin-left: 8px;
  color: #dddd;
  font-weight: normal;
}

.titlebar-buttons {
  display: inline-block;
  margin-right: 2px;
  margin-top: 4px;
}

.titlebar-buttons .button {
  margin-left: 4px;
}
